html,
body {
  margin-right: 0;
  margin-left: 0;
  font-family: "Nunito", sans-serif;
}

body {
  color: gray;
  overflow-x: hidden;
}

section {
  padding-top: 2.5em;
  padding-right: 0px;
  padding-bottom: 2.5em;
  padding-left: 0px;
}

h1 {
  font-weight: 400;
  width: 30%;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
  color: #000;
}

li {
  list-style: none;
}

blockquote {
  margin: 0 0 1rem;
}

.button {
  cursor: pointer;
  outline: none;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 3%;
  border-width: 2px;
  background: #4285f4;
  border-color: #4285f4;
  color: #fff;
  position: relative;
  top: 0;
  transition: 0.3s all ease;
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
}
/* the navbar */

header {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.name {
  color: #000;
  padding: 7.5px 10px 7.5px 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-item {
  position: relative;
  width: auto;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: black;
  background-color: white;
  cursor: pointer;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  background-color: white;
}

.navbar > ul > li {
  float: left;
  position: relative;
}

.navbar ul li {
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  background-color: white;
}

.navbar ul li:hover {
  color: #4285f4;
}

.navbar ul ul {
  font-size: 15px;
  position: absolute;
  padding: 0;
  min-width: 160px;
  display: none;
  top: 100%;
  left: 0;
}

.navbar ul li:hover > ul {
  display: block;
  color: #4285f4;
}

.navbar ul ul li {
  position: relative;
  background-color: white;
}

.navbar ul ul ul {
  top: 0;
  left: 100%;
}

/* the navbar hell ends  */

.landing-sec {
  position: relative;
  padding: 10rem;
  max-width: 960px;
  height: 200px;
  margin-bottom: 20rem;
}

.landing-sec div {
  position: absolute;
  width: 100%;
  }

.landing-sec > div {
  max-width: 100%;
}

.landing-sec img {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: -19%;
}

.landing-sec p {
  display: flex;
  font-size: 1rem;
  font-weight: 300;
}

.landing-sec h1 {
  width: 50%;
  font-size: 3.5rem;
  font-weight: 900;
  color: #000;
}

.features-sec {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.first-item {
  text-align: center;
  margin-bottom: 10rem;
  opacity: 1;
  transform: translate(0);
  transition-duration: 0.8s;
}

.first-item p {
  font-size: 1.25rem;
  font-weight: 300;
}

.block-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.block-items > div {
  flex: 1 1 20%;
  width: 90%;
  padding: 30px;
  background: #f1f1f1;
  border-radius: 5px;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
  margin-bottom: 4em;
  text-align: center;
  padding-top: 50px;
  opacity: 1;
  transform: translate(0);
  transition-duration: 0.8s;
}

.block-items > div:hover {
  background: #4285f4;
  color: white;
}

.block-items > div > div {
  transform: translateX(-50%);
  left: 35px;
  top: -100px;
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background-color: #4285f4;
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  transform: translateX(-50%);
}

.block-items > div > div > span {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  color: #fff;
  left: 31%;
  transform: translate(-50%, -50%);
}

.block-items > div > h3 {
  font-size: 18px;
  color: #000;
}

.block-items > div > p > a {
  color: #007bff;
  text-decoration: none;
}

.feedback-sec {
  max-width: 960px;
}

.feedback-block {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.feedback-item {
  flex: 1 1 40%;
  opacity: 1;
  transform: translate(0);
  transition-duration: 0.8s;
}

.feedback-item img {
  max-width: 80%;
  height: auto;
}

.feedback-item p {
  margin-bottom: 1.5rem;
}

.quote {
  opacity: 1;
  transform: translate(0);
  transition-duration: 0.8s;
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #eee;
  border-left: 10px solid #4285f4;
}

.quote div {
  margin-bottom: 1.5rem;
  display: flex;
  position: relative;
}

.quote div img {
  margin-right: 1rem;
  max-width: 8%;
  max-height: 8%;
  border-radius: 50%;
}

.quote div strong {
  font-weight: 700;
  color: #000;
}
.quote div p {
  padding-top: 10px;
  position: absolute;
  left: 12%;
  color: #000;
}

.about-land {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f1f1f1;
  padding: 2.5em 0;
  width: 100%;
}

.about-item {
  max-width: 50%;
  flex: 1 0 0;
}

.about-img {
  flex: 2 0 0;
}

.about-img img {
  max-width: 30%;
  height: auto;
}

.about-land div div h3 {
  color: #000;
  font-size: 1.75rem;
}

.about-land div div ul {
  margin-bottom: 3rem!;
  padding-left: 0;
  list-style: none;
}

.about-land div div ul > li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.team > p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 15%;
}

.persons-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.persons-items > li {
  flex: 1 1 30%;
  padding: 0 1px 30px;
  width: 34%;
}

.persons-items > li > img {
  max-width: 100%;
  height: auto;
}

.persons-items > li > h3 {
  font-size: 18px;
  color: #000;
}

.persons-items > li > span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 700;
  color: #4285f4;
}

.testimon-sec {
  background: #f1f1f1;
}

.testim-item {
  display: block;
  height: 343px;
  margin: 0 auto;
}

.testim-item blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

.testim-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  max-width: 100px;
  text-align: center;
  border-radius: 50%;
  align-self: center;
}

.testim-item h5 {
  color: #000;
  text-align: center;
  font-size: 1rem;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.blog-item {
  flex: 1 1 20%;
  padding: 0 1px 30px;
  width: 40%;
}

.blog-item > img {
  max-width: 90%;
  height: auto;
}

.blog-item > h3 {
  color: #000;
  font-size: 20px;
}

.date {
  color: #b3b3b3;
  font-size: 14px;
}

.blog-item > span {
  color: #007bff;
}

.contact-sec {
  background-image: url("img/hero_1.jpg");
  background: linear-gradient(
    to right,
    rgba(67, 135, 244, 0.7) 0%,
    rgb(66, 226, 244, 0.7) 100%
  );
}

.contact-form {
  background-color: white;
}
