html {
  overflow-x: hidden;
}

header {
  top: 0;
  position: fixed;
  z-index: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2%;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-left: 0;
}

h1 {
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #000;
}

.button {
  cursor: pointer;
  outline: none;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 3%;
  border-width: 2px;
  background: #4285f4;
  border-color: #4285f4;
  color: #fff;
  position: relative;
  transition: 0.3s all ease;
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
}

.navbar {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 2vh;
  min-height: 2vh;
}


.navbar:first-child::after {
  display: none;
}

.name {
  color: #000;
  padding: 0;
}

.menu {
  display: block;
  font-size: 20px;
  align-self: center;
  position: absolute;
  right: -7rem;
}

.closeMenu {
  display: none;
  font-size: 20px;
  align-self: center;
  position: absolute;
  right: -7rem;
  top: 20px;
}

.navbar-item {
  position: relative;
  width: auto;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: black;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.landing-sec {
  position: relative;
  padding: 11rem 2rem;
  max-width: 260px;
  height: 100px;
  margin-bottom: 15rem;
}

.landing-sec div {
  position: absolute;
  width: 100%;
}

.landing-sec > div {
  max-width: 90%;
  position: absolute;
  animation-name: fadein;
  animation-duration: 3s;
}

.landing-sec img {
  max-width: 170%;
  position: absolute;
  top: 8rem;
  right: -140%;
  animation-name: fromright;
  animation-duration: 2s;
}

@keyframes fromright {
  from {
    right: -550px;
    opacity: 0;
  }
  to {
    right: -140%;
    opacity: 1;
  }
}

.landing-sec p {
  display: flex;
  font-size: 1.2rem;
  font-weight: 300;
}

.landing-sec h1 {
  width: 100%;
  font-size: 2.7rem;
  font-weight: 900;
  color: #000;
}

.features-sec {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.first-item {
  text-align: center;
  margin-bottom: 5rem;
  opacity: 1;
  transform: translate(0);
  transition-duration: 0.8s;
  animation-name: fadein;
  animation-duration: 2s;
}

.first-item p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}

.block-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.block-items > div {
  flex: 1 1 38%;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all ease;
  transform: translate(0);
  transition-duration: 0.8s;
  background: #f1f1f1;
}

.block-items div a {
  text-decoration: none;
  color: #4285f4;
}

.block-items > div > p {
  font-size: 16px;
}

.block-items > div > div {
  left: 30px;
  top: -40px;
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background-color: #4285f4;
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  transform: translateX(-50%);
  transition-duration: 0.8s;
}

.block-items > div > div > span {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.8s;
}

.block-items > div > h3 {
  transition-duration: 0.8s;
  font-size: 20px;
  color: #000;
}

.block-items > div > p > a {
  color: #007bff;
  text-decoration: none;
}

.block-items div:hover {
  background: #4285f4;
  color: white;
}

.block-items div:hover a {
  color: white;
}

.block-items div:hover div {
  top: -50px;
  background-color: white;
}

.block-items div:hover div > span {
  font-size: 1rem;
  color: #4285f4;
}

.block-items div:hover h3 {
  font-size: 20px;
}

.feedback-block {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.feedback-item {
  padding: 8%;
  flex: 1 1 30%;
  opacity: 1;
  transform: translate(0);
  transition-duration: 0.8s;
}

.feedback-item h2 {
  text-align: left;
}

.feedback-item > img {
  max-width: 130%;
  height: auto;
  left: 1px;
  position: relative;
  animation-name: fromleft;
  animation-duration: 2s;
}

.feedback-item p {
  margin-bottom: 1.8rem;
}

.quote {
  opacity: 1;
  transform: translate(0);
  transition-duration: 0.8s;
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 25px;
  border: 1px solid #eee;
  border-left: 10px solid #4285f4;
  animation-name: fadein;
  animation-duration: 3s;
}

.quote div {
  margin-bottom: 1.5rem;
  display: flex;
  position: relative;
}

.quote div img {
  margin-right: 1rem;
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
}

.quote div strong {
  font-weight: 700;
  color: #000;
}

.quote div p {
  padding-top: 10px;
  position: absolute;
  left: 65px;
  color: #000;
}

.about-sec > h2 {
  margin-bottom: auto;
}

.about-land {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f1f1f1;
  width: 100%;
  padding: 30px 1px 30px 20px;
  margin-bottom: 5rem;
}

.about-item {
  text-align: left;
  max-width: 60%;
  animation-name: fadein;
  animation-duration: 2s;
}

.about-item div p {
  padding-right: 30%;
  font-size: 1rem;
}

.about-land img {
  max-width: 50%;
  height: auto;
  left: 1px;
  position: relative;
  animation-name: fromleft;
  animation-duration: 2s;
}

.about-land div div h3 {
  color: #000;
  font-size: 20px;
}

.about-land div div ul {
  margin-bottom: 3rem;
  padding-left: 0;
  list-style: none;
}

.about-land div div ul > li {
  position: relative;
  padding-left: 0;
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 0.9rem;
}

.team > p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 15%;
}

.persons-container {
  width: 100%;
  animation-name: fadein;
  animation-duration: 2s;
}

.persons-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.persons-items > li {
  width: 100%;
  margin-bottom: 30px;
  opacity: 1;
  transform: translate(0);
  transition-delay: 0.1s;
}

.figure {
  position: relative;
  text-align: center;
  max-width: 80%;
  height: auto;
}

.figure img {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.social {
  display: none;
  z-index: 2;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 4rem;
  text-align: center;
  transform: translateY(100%);
  background: #4285f4;
}

.social a {
  display: inline-block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.figure:hover .social {
  display: block;
  animation-name: frombottom;
  animation-duration: 1s;
}

.persons-items > li > h3 {
  font-weight: 500;
  font-size: 19px;
  color: #000;
}

.persons-items > li > span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-weight: 700;
  color: #4285f4;
}

.persons-items > li > p {
  font-size: 0.9rem;
  width: 80%;
}

.testimon-sec {
  background: #f1f1f1;
  animation-name: fadein;
  animation-duration: 3s;
}

.testim-item {
  text-align: center;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 85%;
  padding-bottom: 5%;
}

.testim-item blockquote {
  font-size: 1rem;
  font-style: italic;
  width: 100%;
}

.testim-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  max-width: 90px;
  text-align: center;
  border-radius: 50%;
  align-self: center;
}

.testim-item h5 {
  color: #000;
  text-align: center;
  font-size: 1rem;
}

.blog-sec {
  width: 100%;
  margin-top: 5%;
  animation-name: fadein;
  animation-duration: 2s;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.blog-item {
  width: 60%;
  padding: 20px;
}

.blog-item > img {
  max-width: 100%;
  height: auto;
}

.blog-item > h3 {
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

.date {
  color: #b3b3b3;
  font-size: 15px;
}

.blog-item > p:nth-child(4) {
  font-size: 18px;
}

.blog-item > span {
  color: #007bff;
  font-size: 18px;
}

.contact-sec {
  background-image: url("img/hero_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 2.5em 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: fadein;
  animation-duration: 2s;
}

.contact-sec:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
}

.contact-sec h2 {
  position: relative;
  color: white;
}

.contact-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: 8rem;
  background-color: #fff;
  animation-name: fadein;
  animation-duration: 4s;
}

.contact-form h3 {
  color: #000;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.first-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.first-input div {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.input-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}

.input-item label {
  color: #000;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input-item .input {
  height: 43px;
  font-family: "Nunito", sans-serif;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.input-item textarea {
  height: 10rem;
  font-family: "Nunito", sans-serif;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
